<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
    <link rel="stylesheet" href="https://unpkg.com/bs-brain/bsb.css"/>
</head>
<body>
<!-- Contact 1 - Bootstrap Brain Component -->
<section class="bg-light py-5 py-xl-8">
    <div class="container mb-5 mb-md-6">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6 text-center">
                <h2 class="mb-4 display-5">New Employee</h2>
                <p class="text-secondary mb-4 mb-md-5">You warrant to us that the information below is completely
                    true</p>
                <hr class="w-50 mx-auto mb-0 text-secondary">
            </div>
        </div>
    </div>
    <form th:action="@{/employee/create}" method="post" th:object="${employeeDto}">
        <div class="container">
            <div class="row justify-content-lg-center">
                <div class="col-12 col-lg-9">
                    <div class="bg-white border rounded shadow-sm overflow-hidden">
                        <div class="row gy-4 gy-xl-5 p-4 p-xl-5">

                            <!--                            full name-->

                            <div class="col-12 col-md-3">
                                <label for="fullname" class="form-label">Full Name <span
                                        class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="fullname" value="" required
                                       th:field="*{name}">
                                <span style="color: darkred" th:if="${#fields.hasErrors('name')}"
                                      th:errors="*{name}"></span>
                            </div>

                            <!--                            age-->
                            <div class="col-12 col-md-3">
                                <label for="dayOfBirth" class="form-label">BirthDay<span
                                        class="text-danger">*</span></label>
                                <input type="date" class="form-control" id="dayOfBirth" value="" required
                                       th:field="*{dayOfBirth}">
                                <span style="color: darkred" th:if="${#fields.hasErrors('dayOfBirth')}"
                                      th:errors="*{dayOfBirth}"></span>
                            </div>
                            <!--                            gender-->
                            <div class="col-12 col-md-3">
                                <label class="form-label">Gender <span class="text-danger">*</span></label><br>
                                <input type="radio" name="gender" value="false"
                                       th:field="*{gender}">Nu
                                <input type="radio" name="gender" value="true" th:field="*{gender}">Nam
                            </div>
                            <!--                            citizenId-->

                            <div class="col-12 col-md-3">
                                <label for="citizenId" class="form-label">Citizen Id <span
                                        class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="citizenId" value="" required
                                       th:field="*{citizenId}">
                                <span style="color: darkred" th:if="${#fields.hasErrors('citizenId')}"
                                      th:errors="*{citizenId}"></span>
                            </div>
                            <!--                            position-->
                            <div class="col-12 col-md-3">
                                <label for="position" class="form-label">Position<span
                                        class="text-danger">*</span></label><br>
                                <select th:field="*{position}" id="position" class="form-control">
                                    <option th:each="position, iterStats : ${positionList}"
                                            th:text="${position.name}" th:value="${position.id}"></option>
                                </select>

                            </div>
                            <!--                            email-->

                            <div class="col-12 col-md-3">
                                <label for="email" class="form-label">Email <span class="text-danger">*</span></label>
                                <div class="input-group">
                  <span class="input-group-text">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-envelope" viewBox="0 0 16 16">
                      <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
                    </svg>
                  </span>
                                    <input type="email" class="form-control" id="email" th:field="*{email}" required>

                                </div>
                            </div>

                            <!--                            phone-->

                            <div class="col-12 col-md-3">
                                <label for="phone" class="form-label">Phone Number</label>
                                <div class="input-group">
                  <span class="input-group-text">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-telephone" viewBox="0 0 16 16">
                      <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                    </svg>
                  </span>
                                    <input type="tel" class="form-control" id="phone"
                                           th:field="*{phoneNumber}">
                                    <span style="color: darkred" th:if="${#fields.hasErrors('phoneNumber')}"
                                          th:errors="*{phoneNumber}"></span>
                                </div>
                            </div>
                            <!--                            Image-->

                            <div class="form-group col-12 col-md-3">
                                <label for="thumbnailURL">Up Image:</label>
                                <input type="hidden" id="thumbnailURL" th:field="*{image}"/>
                                <input id="btnThumbnailURL" type="file" name="file" class="form-control"/>
                                <progress id="uploader" value="0" max="100">0%</progress>
                            </div>
<!--                            Image review-->
                            <div>
                                <!--                                <input type="file" name="file" />-->
                                <img src="" id="prev"/>
                                <script>

                                    var reader = new FileReader();
                                    reader.onload = function (r_event) {
                                        document.getElementById('prev').setAttribute('src', r_event.target.result);
                                    }

                                    document.getElementsByName('file')[0].addEventListener('change', function (event) {
                                        reader.readAsDataURL(this.files[0]);
                                    });

                                </script>
                            </div>
                            <!--                            <input type="file" id="photo" th:field="*{image}" /></br>-->
                            <!--                            <button id="upload" onclick="uploadImage()">Upload Image</button>-->

                            <script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-app.js"></script>
                            <script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-storage.js"></script>
                            <script>

                                //paste here your copied configuration code
                                const firebaseConfig = {
                                    apiKey: "AIzaSyDFIFtviHbm8hKCtidU9nVSlcD9fcQSvN4",
                                    authDomain: "employeecasestudy.firebaseapp.com",
                                    projectId: "employeecasestudy",
                                    storageBucket: "employeecasestudy.appspot.com",
                                    messagingSenderId: "562015708192",
                                    appId: "1:562015708192:web:07cf40d25a6339b95d0845",
                                    measurementId: "G-CGWJ0KZSJM"
                                };

                                // // Initialize Firebase
                                // firebase.initializeApp(firebaseConfig);
                                // console.log(firebase);
                                // function uploadImage() {
                                //     const ref = firebase.storage().ref();
                                //     const file = document.querySelector("#photo").files[0];
                                //     const name = +new Date() + "-" + file.name;
                                //     const metadata = {
                                //         contentType: file.type
                                //     };
                                //     const task = ref.child(name).put(file, metadata);task
                                //         .then(snapshot => snapshot.ref.getDownloadURL())
                                //         .then(url => {
                                //             console.log(url);
                                //             alert('image uploaded successfully');
                                //             document.querySelector("#image").src = url;
                                //         })
                                //         .catch(console.error);
                                // }
                                // const errorMsgElement = document.querySelector('span#errorMsg');


                                // Initialize Firebase
                                firebase.initializeApp(firebaseConfig);
                                // const analytics = getAnalytics(app);
                                let uploader = document.getElementById('uploader');
                                let fileButton = document.getElementById('btnThumbnailURL');
                                fileButton.addEventListener('change', function (e) {
                                    let file = e.target.files[0];
                                    let storageRef = firebase.storage().ref('img/' + file.name);
                                    let task = storageRef.put(file);
                                    task.on('state_changed', function progress(snapshot) {
                                        let percentage = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
                                        uploader.value = percentage;
                                        //  lúc chưa load xong thì thì ko cho submit
                                        if (percentage === 100) {
                                            document.getElementById('createButton').removeAttribute('disabled');
                                        } else {
                                            document.getElementById('createButton').setAttribute('disabled', 'disabled');
                                        }
                                    });
                                    //   getDownloadURL() để lấy URL của file đã được lưu trữ trên Firebase Storage.
                                    //   Sau khi URL được lấy thành công, nó được sử dụng để đặt giá trị cho thuộc tính value của phần tử HTML có id là thumbnailURL.
                                    //   Điều này có nghĩa là URL được gán cho giá trị của trường input có tên là thumbnailURL.
                                    //   Sau đó, URL này có thể được sử dụng để hiển thị hình ảnh hoặc thực hiện các thao tác khác liên quan đến hình ảnh trong code JavaScript và HTML.
                                    task.then(snapshot => snapshot.ref.getDownloadURL())
                                        .then(url => {
                                            document.getElementById('thumbnailURL').setAttribute("value", url);
                                            // tải hình ảnh
                                            previewImage.style.display = 'none';
                                            newImage.src = url;
                                            newImage.style.display = 'block';
                                        });
                                });
                            </script>


                            <!--                            button Create-->

                            <div class="col-12">
                                <div class="d-grid">
                                    <button class="btn btn-primary btn-lg" type="submit">Create</button>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </form>

</section>
</body>
</html>