<!doctype html>
<html lang="en"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Page Quản Trị</title>
    <style>
        #success {
            position: fixed;
            right: 1em;
        }

        .tin {
            contain: layout;
            display: flex;
            align-items: center;
            background-color: wheat;
            border-radius: 12px;
            border-left: 16px #a0b4ff;
            min-width: 10em;
            max-width: 17em;
            max-height: 5rem;
            box-shadow: 0 5px 8px rgba(36, 245, 10, 0.08);
            animation: slideInLeft ease 2s, fadeOut linear 1s 2s forwards;
            transition: all linear 0.3s;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        @media screen and (max-width: 768px) {
            th, td {
                display: block;
            }

            th {
                text-align: center;
                font-weight: bold;
            }

            td:before {
                content: attr(data-label);
                float: left;
                text-transform: uppercase;
                font-weight: bold;
            }
        }
    </style>
    <!-- Thư viện Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/css/adminlte.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">

</head>
<body class="hold-transition sidebar-mini">

<div class="wrapper">

    <nav th:replace="/layout :: navbar"></nav>
    <aside th:replace="/layout :: sidebar"></aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Customer List</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active"><a th:href="@{/logout}">Logout</a></li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Viết bảng ở đây -->
        <section class="content">

            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"></h3>
                    <span th:if="${msg}!=null" th:text="${msg}" id="success"
                          class="tin"
                          style="float: left; background-color: #4CAF50;font-size: 30px"></span>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <form action="/customer/search" method="get">
                        <div class="form-group row">
                            <div class="col-md-3">
                                <input type="text" placeholder="Enter Name" name="name" class="form-control">
                            </div>
                            <div class="col-md-3">
                                <input type="text" placeholder="Enter phone number" name="phoneNumber"
                                       class="form-control">
                            </div>
                            <div class="col-md-3">
                                <input type="text" placeholder="Enter cmnd " name="citizenId" class="form-control">
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    <button sec:authorize="hasAnyRole('Director','SaleManager','Business')" title="Add new customer" class="btn-primary"><a style="color: white"
                                                                               th:href="@{/customer/create}"><i
                            class="fa-solid fa-plus"></i></a></button>
                    <br>
                    <br>
                    <!--          viet bảng ở đây-->
                    <div class="table-responsive">
                        <table class="table table-bordered table-sm">
                            <thead>
                            <tr>
                                <th>STT</th>
                                <th>Name</th>
                                <th>Phone number</th>
                                <th>Citizen ID</th>
                                <th>Detail</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="customer : ${customers}" th:if="${!customer.flagDelete}">
                                <td th:text="${customer.id}"></td>
                                <td th:text="${customer.name}"></td>
                                <td th:text="${customer.phoneNumber}"></td>
<!--                                <td th:text="${customer.gender ? 'Male' : 'Female'}"></td>-->
                                <td th:text="${customer.citizenId}"></td>
                                <td>
                                    <a  th:href="@{/customer/detail/{id}(id=${customer.id})}" class="btn btn-primary"><i
                                            class="fa-solid fa-circle-info"></i></a>
                                </td>
                                <td>
                                    <a sec:authorize="hasAnyRole('Director','SaleManager')" href="#" class="btn btn-danger" data-toggle="modal"
                                       th:data-target="'#deleteCustomerModal-' + ${customer.id}"><i
                                            class="fa-regular fa-trash-can"></i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <ul>
                            <li th:if="${customers.hasPrevious()}">
                                <a th:href="@{${url}(page=${customers.previousPageable().pageNumber})}">Previous page</a>
                            </li>
                            <li th:if="${customers.hasNext()}">
                                <a th:href="@{${url}(page=${customers.nextPageable().pageNumber})}">Next page</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                </div>
                <!-- /.card-footer-->
            </div>
            <!-- /.card -->
        </section>
    </div>


    <footer th:replace="/layout::footer"></footer>
    <!-- Modal Delete Customer -->
    <div th:each="customer : ${customers}" class="modal fade"
         th:id="'deleteCustomerModal-' + ${customer.id}"
         tabindex="-1" role="dialog"
         th:attr="aria-labelledby='deleteCustomerModalLabel-' + ${customer.id}"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"
                        th:attr="id='deleteCustomerModalLabel-' + ${customer.id}">Delete customer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <p>Are you sure you want to delete the customer: <span style="color: red" th:text="${customer.name}">
                        </span> id is <span style="color: red" th:text="${customer.id}"> </span> or not?</p>
                        <p style="color:red;">This operation cannot be undone! </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel
                    </button>
                    <form th:action="@{/customer/delete/{id}(id=${customer.id})}" method="post">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<!-- jQuery -->
<script src="/js/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/js/demo.js"></script>
</body>
</html>